DirectoryIndex index.php index.html

RewriteEngine on
RewriteRule ^public/downloads/(.*)$ uploads/download/$1 [L,NC]
RewriteCond $1 !^(index\.php|resources|robots\.txt|uploads|public)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
 